:root {
  --bg-body: #111410;
  --bg-card: #1c201a;
  --bg-canvas: #161a14;
  
  --bg-pizarra: #12190f;
  --text-pizarra: #52b825;
  
  --text-color: #e5ebe1;
  --text-muted: #8a9685;
  --border-color: #2b3326;
  
  --bg-tecla: #242b20;
  --text-tecla: #e5ebe1;
  --bg-tecla-hover: #3b4635;
  --text-tecla-hover: #ffffff;
  
  --bg-badge-usada: #232920;
  --text-badge-usada: #b0c0ab;
}

/* Clases específicas de Bootstrap que dependen de tema en Bootstrap */
.table {
  --bs-table-bg: transparent;
  --bs-table-striped-bg: #1f251d;
  color: var(--text-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  box-shadow: inset 0 0 0 9999px #1f251d !important;
}

.form-control {
  background-color: #161a14;
  border-color: var(--border-color);
  color: var(--text-color);
}

.form-control:focus {
  background-color: #1c201a;
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(56, 110, 20, 0.4);
  color: var(--text-color);
}

.modal-content {
  background-color: var(--bg-card);
  color: var(--text-color);
  border-color: var(--border-color);
}

.bg-light {
  background-color: #161a14 !important;
}

.border-bottom-green {
  border-bottom: 2px solid var(--primary-green) !important;
}
